.contactDiv {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logoContact {
  width : 150px;
  height: 150px;
}

.contactLinks {
  color: white;
  text-decoration: none;
  list-style: none;
}

.contactLinks a:hover {
  color: #7F7D9C;
}
  