.contactDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactDiv ul {
  display: flex;
  flex-direction: column;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 1rem;
}

.logoContact {
  width : 150px;
  height: 150px;
}

.contactLink {
  color: white;
  padding: 0.8rem;
  font-size: 19px;
}

.contactTitle {
  font-weight: bold;
  color: white;
  font-size: 25px;  
  padding-bottom: 20px;
}

.contactLink a{
  padding: 0px;
  text-decoration: underline;
  cursor: pointer;
}

.contactLinks a:hover {
  color: #7F7D9C;
}
  