.contactDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactDiv ul {
  display: flex;
  flex-direction: column;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 1rem;
}

.logoContact {
  width : 200px;
  height: 200px;
}

.contactLink li {
  color: white;
  padding: 0.5rem;
  font-size: 26px;
}

.contactTitle {
  font-weight: bold;
  color: white;
  font-size: 34px;  
  padding-bottom: 20px;
}

@media (max-width: 856px) {
  
  .logoContact {
    width : 150px;
    height: 150px;
  }
  
  .contactTitle {
    font-size: 19px;
  }
  
  .contactLink {
    font-size: 15px;
  }
  
}
  